body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.search-container {
    position: relative;
    width: 750px; 
    display: flex; 
    flex-direction: row; 
    margin-bottom: 10px; 
}

#search-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px; 
    outline: none;
}

#search-button {
    padding: 10px 15px; 
    border: 1px solid #ccc;
    border-left: none; 
    border-radius: 0 20px 20px 0; 
    background-color: #25a15b; 
    color: white; 
    cursor: pointer;
    font-size: 15px;
    width: auto;
    white-space: nowrap;
}

#search-button:hover {
    background-color: #0056b3; 
}

.results-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;
    display: none;
    z-index: 100;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

#search-results div {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#search-results div:hover {
    background-color: #f1f1f1;
}
